@import "tailwindcss";

@layer base {
  h1 {
    font-size: var(--text-lg);
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: var(--text-xl);
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
  }
  h3 {
    font-size: var(--text-lg);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  pre {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--color-slate-100);
    padding: 16px;
    overflow-x: scroll;
  }
  ul {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
    list-style-type: disc;
  }
  li {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  code {
    font-size: 12px;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: var(--text-2xl);
    }

    code {
      font-size: 12px;
    }
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
